/* .events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #5101d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  .events__list-item {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;;
    display: flex;
  padding-left: 32px;
  padding-top: 1px;;
  padding-bottom: 1px;
  border: 5px solid;
  border-radius: 5px;;
  background: #e1eec3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  border-color: lightcoral;
 
}
  
  .events__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #5101d1;
    padding-top: 15px;;
  }
  
  .events__list-item h2 {
      margin: 0;
      font-size: 1rem;
      color: #fbfbfb;
      padding-bottom: 15px;;
  }
  
  .events__list-item p {
      margin: 0;
  }
  .owner{
    color:red;
    font-weight: bold;
    padding-right: 20px;;
    font-size:25px;
}