.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
  }
  
  .form-control label{
    width: 100%;
    display: block;
    height: 30px;
    font-weight: bolder;
    border:none;
    font-size: 3vh;
    border-radius: 10px;
  }
  .form-control input {
    width: 100%;
    display: block;
    height: 34px;
    background: rgba(109, 30, 16, 0.192);
    border:none;
    border-radius: 10px;
  }
  .form-control input:hover {
    width: 100%;
    display: block;
    height: 34px;
    background: rgba(156, 90, 79, 0.192);
    border:none;
    border-radius: 10px;
  }
  
  .form-control label {
    margin-bottom: 0.2rem;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .form-actions button {
    background: #01d1d1;
    font: inherit;
    border: 1px solid #01d1d1;
    border-radius: 3px;
    height:7vh;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
  }
  
  .form-actions button:hover,
  .form-actions button:active {
      background: #01a7a7;
      border-color: #01a7a7;
  }


  .register{
    font-size: 30px;;
    color:green;
    font-weight: bold;;
  }

  .checklogin{
    font-size: 30px;;
    color:red;
    font-weight: bold;;
  }